Repository ROCm/omnitrace, pull requests merged in 2022-08, with the labels that each got.

#126 RPATH to rocprofiler_LIBRARY_DIR for ROCm < v5.2
  .github/workflows/ubuntu-focal.yml
  cmake/Modules/Findrocprofiler.cmake
  source/bin/CMakeLists.txt
  source/bin/omnitrace/CMakeLists.txt
  source/lib/CMakeLists.txt
Labels: bug fix, testing, cmake, cpack, rocprofiler

#135 Fix some inconsistencies in debug messages w/in category_region
  source/lib/omnitrace/library/components/category_region.hpp
  source/lib/omnitrace/library/tracing.hpp
Labels: libomnitrace

#131 Verbose messages based on ROCP_ONLOAD_TRACE env
  source/lib/omnitrace/library/rocm.cpp
Labels: roctracer, rocprofiler

#128 Update python install + build-tree setup
  CMakeLists.txt
  cmake/ConfigInstall.cmake
  cmake/Packages.cmake
  source/python/CMakeLists.txt
  tests/CMakeLists.txt
Labels: cmake

#134 OMNITRACE_TRACE_THREAD_SPIN_LOCKS config
  source/lib/omnitrace/library/components/pthread_mutex_gotcha.cpp
  source/lib/omnitrace/library/config.cpp
  source/lib/omnitrace/library/config.hpp
Labels: libomnitrace, configuration

#137 Handle --advanced printing for config generation
  source/bin/omnitrace-avail/generate_config.cpp
Labels: bug fix, omnitrace-avail, configuration

#138 Python noprofile
  examples/python/CMakeLists.txt
  examples/python/noprofile.py
  source/python/libpyomnitrace.cpp
  source/python/omnitrace/profiler.py
  source/python/pyproject.toml
  tests/CMakeLists.txt
Labels: enhancement, omnitrace-python, libpyomnitrace, testing, examples

#123 Python validation-external & builtin
  tests/CMakeLists.txt
Labels: testing

#142 Support sampling duration, sampling TIDs
  cmake/Packages.cmake
  source/lib/common/defines.h.in
  source/lib/omnitrace/library.cpp
  source/lib/omnitrace/library/components/pthread_create_gotcha.cpp
  source/lib/omnitrace/library/components/pthread_gotcha.cpp
  source/lib/omnitrace/library/components/pthread_gotcha.hpp
  source/lib/omnitrace/library/components/pthread_mutex_gotcha.cpp
  source/lib/omnitrace/library/components/roctracer.cpp
  source/lib/omnitrace/library/config.cpp
  source/lib/omnitrace/library/config.hpp
  source/lib/omnitrace/library/cpu_freq.cpp
  source/lib/omnitrace/library/process_sampler.cpp
  source/lib/omnitrace/library/rocm.cpp
  source/lib/omnitrace/library/rocm_smi.cpp
  source/lib/omnitrace/library/runtime.cpp
  source/lib/omnitrace/library/runtime.hpp
  source/lib/omnitrace/library/sampling.cpp
Labels: enhancement, libomnitrace, sampling, process sampling, cmake, cpack, configuration
