Repository ROCm/omnitrace, pull requests merged in 2024-04, with the labels that each got.

#334 Installers for RHEL 8.8 and RHEL 8.9
  .github/workflows/containers.yml
  .github/workflows/cpack.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/python.yml
  .github/workflows/redhat.yml
  .github/workflows/release.yml
  .github/workflows/ubuntu-focal.yml
  .github/workflows/ubuntu-jammy.yml
  VERSION
  docker/Dockerfile.opensuse
  docker/Dockerfile.opensuse.ci
  docker/build-docker.sh
Labels: cpack

#338 Create CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

#327 Remove Critical Trace Support
  .github/workflows/opensuse.yml
  .github/workflows/redhat.yml
  .github/workflows/ubuntu-bionic.yml
  .github/workflows/ubuntu-focal.yml
  .github/workflows/ubuntu-jammy.yml
  README.md
  scripts/test-install.sh
  source/bin/CMakeLists.txt
  source/bin/omnitrace-avail/avail.cpp
  source/bin/omnitrace-causal/impl.cpp
  source/bin/omnitrace-critical-trace/CMakeLists.txt
  source/bin/omnitrace-critical-trace/critical-trace.cpp
  source/bin/omnitrace-critical-trace/critical-trace.hpp
  source/bin/tests/CMakeLists.txt
  source/docs/critical_trace.md
  source/docs/development.md
  source/docs/features.md
  source/docs/runtime.md
  source/docs/sampling.md
  source/lib/core/argparse.cpp
  source/lib/core/categories.hpp
  source/lib/core/config.cpp
  source/lib/core/config.hpp
  source/lib/core/debug.hpp
  source/lib/core/exception.cpp
  source/lib/omnitrace-user/omnitrace/categories.h
  source/lib/omnitrace/library.cpp
  source/lib/omnitrace/library/CMakeLists.txt
  source/lib/omnitrace/library/components/category_region.hpp
  source/lib/omnitrace/library/components/pthread_mutex_gotcha.cpp
  source/lib/omnitrace/library/critical_trace.cpp
  source/lib/omnitrace/library/critical_trace.hpp
  source/lib/omnitrace/library/perf.cpp
  source/lib/omnitrace/library/ptl.cpp
  source/lib/omnitrace/library/ptl.hpp
  source/lib/omnitrace/library/rocm_smi.cpp
  source/lib/omnitrace/library/roctracer.cpp
  tests/CMakeLists.txt
  tests/omnitrace-critical-trace-tests.cmake
  tests/omnitrace-fork-tests.cmake
  tests/omnitrace-instrument-tests.cmake
  tests/omnitrace-kokkos-tests.cmake
  tests/omnitrace-rocm-tests.cmake
  tests/omnitrace-testing.cmake
  tests/omnitrace-user-api-tests.cmake
Labels: omnitrace-critical-trace
