Repository ROCm/omnitrace, pull requests merged in 2024-06, with the labels that each got.

#343 Enable features to generate dependency list and fix RPM installation.
  cmake/ConfigCPack.cmake
Labels: cmake, cpack

#346 Flush stdout when listing keys + bump verbose level for GPU count
  source/bin/omnitrace-avail/avail.cpp
Labels: omnitrace-avail

#351 Add release links to installation.md
  source/docs/installation.md
Labels: documentation
